/* Import */
/* Variables */
/* Colores */
.logo {
  color: black;
  font-family: "Birthstone Bounce", cursive;
  font-size: 40px;
  padding-left: 120px;
}

.navbar {
  background-color: white;
  padding: 0%;
}

.menu {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.menu ul li a {
  margin-left: 60px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
}
.menu ul li a:hover {
  border-bottom: 3px solid orangered;
  transition: 0.2s;
}

/* Variables */
/* Variables */
/* extend */
footer .footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

/* Colores */
footer {
  background-color: rgba(255, 166, 0, 0.603);
  display: inline;
}
footer .logo-mia-nona {
  width: 250px;
}
footer .footer-icons li {
  padding-left: 30px;
  margin-top: 70px;
}
footer .footer-icons img {
  width: 40px;
}

/* extend */
footer .footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.title-comple {
  padding: 200px;
  background-color: olivedrab;
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-family: "Cormorant Garamond", serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  overflow: hidden;
}
.grid .grid-item-one {
  display: flex;
  justify-content: start;
}
.grid .grid-item-two {
  display: flex;
  justify-content: end;
}
.grid .grid-title-one {
  background-color: lightslategrey;
}

.encabezado-uno {
  display: flex;
  justify-content: center;
}
.encabezado-uno h2 {
  font-size: 130px;
  color: white;
  position: absolute;
  left: 40%;
  top: 300px;
}
.encabezado-uno p {
  font-size: 40px;
  color: white;
  position: absolute;
  left: 30%;
  top: 450px;
}

.encabezado-dos {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 455px;
}
.encabezado-dos h2 {
  font-size: 100px;
  font-family: "Cormorant Garamond", serif;
  color: rgba(196, 52, 0, 0.664);
}
.encabezado-dos p {
  font-size: 100px;
  font-family: "Bebas Neue", cursive;
  position: relative;
  top: 50px;
  left: -400px;
  color: #7c7477;
}

section .grid-container {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(2, 750px);
  overflow: hidden;
}
section .grid-container div {
  overflow: hidden;
}
section .grid-container .grid-item {
  position: relative;
  background-color: #7c747788;
}
section .grid-container .grid-item .grid-img {
  height: 100%;
  width: 100%;
}
section .grid-container .grid-item .grid-title {
  position: absolute;
  top: 50px;
  left: 10px;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
}

.seccion-tres {
  background-color: #726560;
}
.seccion-tres iframe {
  margin-top: 10px;
}
.seccion-tres .p-1 {
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
  color: #fd703d;
  position: relative;
  top: -400px;
  left: 65%;
}
.seccion-tres .p-2 {
  font-size: 60px;
  font-family: "Bebas Neue", cursive;
  position: relative;
  top: -477px;
  left: 900px;
  color: white;
}

* {
  margin: 0%;
  padding: 0%;
}

/*# sourceMappingURL=style.css.map */
