.title-comple{
    padding: 200px;
    background-color: olivedrab;
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-family: 'Cormorant Garamond', serif;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,50%);
    overflow: hidden;
    .grid-item-one{
        display: flex;
        justify-content: start;
    }
    .grid-item-two{
        display: flex;
        justify-content: end;
    }
    .grid-title-one{
        background-color: lightslategrey;
    }
}
