
section{
    background-color: rgb(199, 199, 199);
    padding-top: 150px;
    .seccion-uno-contacto{
        p{
            font-size: 100px;
            font-family: 'Bebas Neue', cursive;
            padding-left: 100px;
            padding-bottom: 100px;
            color: #7c7477;
        }
    }
}
