@import "../componentes/variables";
@import "../componentes/extend";
@import "../componentes/listas";

footer{
    background-color: rgb(114, 101, 96);
    .logo-mia-nona{
        width: $width-logo;
    }
    .footer-icons{
        @extend %flex;
        li{
            padding-left:30px;
            margin-top: 70px;
        }
        img{
            width: $width-icons-footer;
        }
    }
}