.encabezado-uno{
    display: flex;
    justify-content: center;
    h2{
        font-size: 130px;
        color:white;
        position:absolute;
        left: 40%; top: 300px;
    }
    p{
        font-size: 40px;
        color: white;
        position: absolute;
        left: 30%; top: 450px;
    }
}

.encabezado-dos{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 455px;
    
    h2{
        font-size: 100px;
        font-family: 'Cormorant Garamond', serif;
        color: rgba(196, 52, 0, 0.664);
    }
    p{
        font-size: 100px;
        font-family: 'Bebas Neue', cursive;
        position: relative;
        top: 50px; left: -400px;
        color: #7c7477;
    }
}

section{
    .grid-container{
        display: flex;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, 600px);
        grid-template-rows: repeat(2, 750px);
        overflow: hidden;
        

        div{
            overflow: hidden;
            
        }
        .grid-item{
            position: relative;
            background-color: #e0dadc;
            box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5);
            .grid-img{
                height: 100%; 
                width: 100%;
            }
            .grid-title{
                display:flex;
                padding-left: 90px; 
                padding-top: 90px;
                color:rgb(253, 112, 61); 
                font-family: 'Cormorant Garamond', serif;
                font-size: 40px;
            }
        }
        .grid-title-1{
            padding-left: 90px;
            margin: 0%;
            h4{
                color:rgb(114, 101, 96); 
                font-family: 'Bebas Neue', cursive;
                letter-spacing: 3px;
                font-size: 100px;
            }        
        }
        .grid-title-2{
            display:flex;
                padding: 40px 40px 60px 90px;
                color:rgb(114, 101, 96); 
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 30px;
        }
        .grid-title-3{
            display:flex;
            padding-left: 90px; 
            padding-top: 90px;
            color:rgba(114, 101, 96, 0.842); 
            font-family: 'Cormorant Garamond', serif;
            font-size: 30px;
        }
         
    }
}

.seccion-tres{
    background-color: rgb(114, 101, 96);
    iframe{
        margin-top: 50px;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    }
    .p-1{
        font-size: 60px;
        font-family: 'Cormorant Garamond', serif;
        color: rgb(253, 112, 61);
        position: relative;
        top: -400px; left: 65%;
    }
    .p-2{
        font-size: 60px;
        font-family: 'Bebas Neue', cursive;
        position: relative;
        top: -477px; left: 900px;
        color: white;
    }
}